---
layout: page
title: Development Website
subtitle: This is where I will spend way too much of my time
bigimg: /img/great-wave.png
---

<strong><h2 style="text-align:center">Hello and welcome to my Website!</h2></strong>
<br>
<div class="intro">  
  <p style="text-align:center">
    I have created this site with the purpose of increasing my understanding in the testing 
    and development of good internet design practices. My knowledge 
    on the subject of web design is still basic and thus I am actively exploring topics 
    of the design and development of websites and software systems, along with any other 
    subjects I am studying or find interesting.
  </p>

  <div class="imgWrap">
    <img src="img/full-stack.png" alt="Enjoy the code" style="text-align:center"/>
    <span class="imgDescription"> <p class="imgtext">Enjoy the code!</p> </span>
  </div>
  <br>
  <br>
</div> <!-- END OF INTRO -->

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
